@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// All Project Colors
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
  
  /* Global Font */
  --fontFamily: 'Montserrat', sans-serif;
}


.chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #f1f1f1;
    border-radius: var(--borderRadius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  
    &.open {
      height: 400px;
      border-radius: 8px;
      .chat-header{
        border-radius: 8px;
      }
    }
  }
  
  .chat-header {
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px;
    display: flex;
    border-radius: var(--borderRadius);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &.open{
        border-radius: 8px;
    }
  }
  
  .chat-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);
    padding: 10px;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
  }
  
  .message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
  }
  
  .message.bot {
    background-color: #e1e1e1;
    color: black;
    align-self: flex-start;
  }
  
  .chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  
    input {
      flex: 1;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }
  
    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      margin-left: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  